@charset "UTF-8";
/* Configurações gerais */
*{
    margin: 0px;/*Zerando as margens*/
    padding: 0px;/*Zerando o preenchimento*/
    font-family: Arial, Helvetica, sans-serif;/*Configuração do tipo fonte*/
}
/* Configurando o Html e o corpo */
html, body{
    height: 100vh;/*Ocupar 100% da altura da viewport*/
    width: 100vw;/*Ocupar 100% da largura na viewport*/
    background-color: black;/*Cor de fundo*/
}
/* Configuração do corpo */
body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;/* Shorthand do fundo: carregando uma imagem, sem repetiçoes, alinhada pelo topo e centro */
    background-size: cover;/*A imagem de fundo é dimensionada de forma proporcional para cobrir completamente o elemento pai*/
    background-attachment: fixed;/*a imagem de fundo fica fixa em relação à janela de visualização*/
}
/*Configurando a tag principal*/
main{
    position: relative;/*Deixando a posição relativa*/
    height: 100vh;/*Ocupar 100% da altura da viewport*/
}
/*Configuração da seção com ID telefone*/
section#telefone{
    position: absolute;/*Deixando a posição absoluta*/
    top: 50%;/*Distacia com 50% do topo*/
    left: 50%;/*Distacia com 50% da esquerda*/
    transform: translate(-50%, -50%);/*o elemento seja centralizado tanto na horizontal como na vertical dentro do seu contêiner */
    
    height: 627px;/*Altura do contêiner*/
    width: 311px;/*Largura do conêiner*/
    background: url(../imagens/frame-iphone.png) no-repeat top center;/* Shorthand do fundo: carregando uma imagem, sem repetiçoes, alinhada pelo topo e centro */
}
/* Congiguração do frame tela */
iframe#tela{
    position: relative;/*Posicionamento relativo*/
    top: 80px;/*Distância do topo*/
    left: 22px;/*Distância da esquerda*/
    width: 267px;/*largura*/
    height: 471px;/*Altura*/
}
/*Configurando a seção com id redes*/
section#redes{
    text-align: right;/*Alinhamento a direita*/
}
/* Configurando os links dentro da seção com o id redes */
section#redes a{
    display: block;
}
/*Configurando as imagem dentro da seção com o id redes*/
section#redes img{
    width: 50px;/*Largura da imagem*/
    margin: 10px;/*Margem da imagem*/
    border-radius: 50%;/*Arrendondando as imagens*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /*Aplicação de sombra*/
    box-sizing: border-box;/*Deixando o espaço da borda dentro da caixa, nesse modo impede que ao alterar a borda não mexa nos outro intes*/
}
/* configurando o passar do mouse nas imagens dentro da seção como id rede */
section#redes img:hover{
    border: 2px solid rgb(255, 255, 255,0.5);/*Mundando a cor da borda*/
    transform: translate(-3px,3px);/*Mundando a posição*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);/*Configurando a sombra*/
    transition: transform 0.3s, border 0.5s;/*Configurando a transições dos componentes*/
}
